## Amazon Sales Analysis-An Analysis Using Python

In [2]:
# Let us import the necessary library(ies)
import pandas as pd

# Reading the Dataset:
df=pd.read_excel('asr.xlsx')
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,ship-city,ship-city2,ship-state,ship-state2,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,111256,171-9693427-2929169,2022-12-06,Shipped,Amazon,Amazon.in,Expedited,Blazzer,L,Shipped,...,GURUGRAM,GURUGRAM,HARYANA,HARYANA,122001,IN,False,NaN,NaN,NaN
1,111257,403-9244802-5062762,2022-12-06,Shipped,Amazon,Amazon.in,Expedited,Shirt,4XL,Shipped,...,PEDAPADU MANDAL,PEDAPADU Mandal,ANDHRA PRADESH,ANDHRA PRADESH,534437,IN,False,NaN,NaN,NaN
2,111258,408-7032153-4530755,2022-12-06,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,T-shirt,XXL,Shipped,...,BHAGALPUR,BHAGALPUR,BIHAR,BIHAR,812001,IN,False,Easy Ship,NaN,NaN
3,111259,407-9369734-8873143,2022-12-06,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,T-shirt,XS,Shipped,...,PUNE,PUNE,MAHARASHTRA,MAHARASHTRA,411047,IN,False,Easy Ship,NaN,NaN
4,111260,408-6560659-4861932,2022-12-06,Cancelled,Amazon,Amazon.in,Expedited,Shirt,L,Unshipped,...,HYDERABAD,HYDERABAD,TELANGANA,TELANGANA,501301,IN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121138,48874,404-6818984-2127559,2022-01-04,Cancelled,Amazon,Amazon.in,Expedited,T-shirt,XL,Unshipped,...,NAVSARI,NAVSARI,GUJARAT,GUJARAT,396445,IN,False,NaN,NaN,NaN
121139,48875,407-2152095-3123500,2022-01-04,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XXL,Shipped,...,KARWAR,KARWAR,KARNATAKA,KARNATAKA,581301,IN,False,NaN,NaN,NaN
121140,48876,171-0871043-0019553,2022-01-04,Shipped,Amazon,Amazon.in,Expedited,Shirt,4XL,Shipped,...,PALLAKAD,Pallakad,KERALA,KERALA,679514,IN,False,NaN,NaN,NaN
121141,48877,403-4980496-9965155,2022-01-04,Shipped,Amazon,Amazon.in,Expedited,Trousers,XL,Shipped,...,GURGAON,GURGAON,HARYANA,HARYANA,122001,IN,False,NaN,NaN,NaN
121142,48878,408-6573707-8610735,2022-01-04,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,T-shirt,M,Shipped,...,CHENNAI,CHENNAI,TAMIL NADU,TAMIL NADU,600032,IN,False,Easy Ship,NaN,NaN

#### Sales Overview

In [3]:
# Here we will load the dataframe (assuming it's already loaded as 'df')
# Example: df = pd.read_csv('my_data.csv')

# Calculate overall sales performance
total_sales = df['Amount'].sum()

#Then we will  Analyze trends over time (assuming 'Date' column is datetime)
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.to_period('M')
monthly_sales = df.groupby('Month')['Amount'].sum()

#Finally Print or return results
print(f"Total Sales: ${total_sales}")
print("Monthly Sales Trends:")
print(monthly_sales)

Total Sales: $78570548.25
Monthly Sales Trends:
Month
2022-01     2880866.33
2022-02     2981366.41
2022-03     3041934.01
2022-04    20487697.95
2022-05    17821156.32
2022-06    15260858.88
2022-07     2786076.37
2022-08     2885502.76
2022-09     2742205.46
2022-10     2597647.85
2022-11     2550648.13
2022-12     2534587.78
Freq: M, Name: Amount, dtype: float64

### Product Analysis

In [4]:
# First we will Analyze product categories, sizes, and quantities sold
category_counts = df['Category'].value_counts()
size_counts = df['Size'].value_counts()

#Then Print or return results
print("Product Categories:")
print(category_counts)
print("\nProduct Sizes:")
print(size_counts)

Product Categories:
Category
T-shirt     47038
Shirt       46695
Blazzer     14702
Trousers    10157
Perfume      1091
Wallet        881
Socks         420
Shoes         156
Watch           3
Name: count, dtype: int64

Product Sizes:
Size
M       20965
L       20477
XL      19418
XXL     16785
S       15645
3XL     13884
XS      10201
Free     2131
6XL       705
5XL       526
4XL       406
Name: count, dtype: int64

### Fullfillment Analysis

In [5]:
# First we will Investigate fulfillment methods and their effectiveness
fulfillment_counts = df['Fulfilment'].value_counts()

#Then we will Print or return results
print("Fulfillment Methods:")
print(fulfillment_counts)

Fulfillment Methods:
Fulfilment
Amazon      83629
Merchant    37514
Name: count, dtype: int64

### Customer Segmentation

In [6]:
# First we will Segment customers based on buying behavior (e.g., amount spent)
bins = [0, 100, 500, 1000, float('inf')]
labels = ['Low', 'Medium', 'High', 'VIP']
df['Customer Segment'] = pd.cut(df['Amount'], bins=bins, labels=labels)

# Then Analyze segments
segment_counts = df['Customer Segment'].value_counts()

# Finallywe will Print or return results
print("Customer Segments:")
print(segment_counts)

Customer Segments:
Customer Segment
High      64214
Medium    41261
VIP       13325
Low           0
Name: count, dtype: int64

### Geographical Analysis

In [7]:
# Let us Explore geographical distribution of sales
state_sales = df.groupby('ship-state')['Amount'].sum()
city_sales = df.groupby('ship-city')['Amount'].sum()

#Then Print or return results
print("State-wise Sales:")
print(state_sales)
print("\nCity-wise Sales:")
print(city_sales)

State-wise Sales:
ship-state
ANDAMAN & NICOBAR      157424.62
ANDHRA PRADESH        3217859.86
ARUNACHAL PRADESH       98265.00
ASSAM                 1018654.20
BIHAR                 1413881.32
CHANDIGARH             212393.67
CHHATTISGARH           569591.83
DADRA AND NAGAR         42138.92
DELHI                 4390857.41
GOA                    638023.85
GUJARAT               2726265.82
HARYANA               2880355.99
HIMACHAL PRADESH       503823.51
JAMMU & KASHMIR        457598.74
JHARKHAND              920173.21
KARNATAKA            10480694.22
KERALA                3823559.58
LADAKH                  38388.43
LAKSHADWEEP              3175.29
MADHYA PRADESH        1594453.98
MAHARASHTRA          13340333.05
MANIPUR                211985.99
MEGHALAYA              119871.81
MIZORAM                 41948.71
NAGALAND               145055.67
ODISHA                1386294.39
PUDUCHERRY             191303.24
PUNJAB                1212099.89
RAJASTHAN             1760913.16
SIKKIM                 140828.66
TAMIL NADU            6519182.30
TELANGANA             6915018.08
TRIPURA                 92548.40
UTTAR PRADESH         6823947.08
UTTARAKHAND            974425.55
WEST BENGAL           3507212.82
Name: Amount, dtype: float64

City-wise Sales:
ship-city
(CHIKMAGALUR DISTERICT) (NR PUR THALUKU)              389.00
(VIA CUNCOLIM)QUEPEMSOUTH GOA                        1163.00
1                                                     533.00
116 B P M B SARANI UTTARPARA KOTRUNG                  655.00
14719 B KESHAB CHANDRA SEN STREET KOLKATA NINE MA     414.29
                                                      ...
ZIRAKPUR PUNJAB MOHALI                               1547.00
ZIRAKPURMOHALI                                        771.00
ZUARI NAGAR                                           399.00
ZUNDAL                                               1632.20
Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½                             2003.00
Name: Amount, Length: 6996, dtype: float64

In [8]:
# First we will Calculate state-wise and city-wise sales
state_sales = df.groupby('ship-state')['Amount'].sum()
city_sales = df.groupby('ship-city')['Amount'].sum()

#Then we will Sort state-wise sales
sorted_state_sales = state_sales.sort_values(ascending=False)
top_5_states = sorted_state_sales.head(5)
bottom_5_states = sorted_state_sales.tail(5)

# Similarly we will be Sorting city-wise sales
sorted_city_sales = city_sales.sort_values(ascending=False)
top_5_cities = sorted_city_sales.head(5)
bottom_5_cities = sorted_city_sales.tail(10)

#Finally we will Print or return results
print("Top 5 States by Sales:")
print(top_5_states)
print("\nBottom 5 States by Sales:")
print(bottom_5_states)

print("\nTop 5 Cities by Sales:")
print(top_5_cities)
print("\nBottom 5 Cities by Sales:")
print(bottom_5_cities)

Top 5 States by Sales:
ship-state
MAHARASHTRA      13340333.05
KARNATAKA        10480694.22
TELANGANA         6915018.08
UTTAR PRADESH     6823947.08
TAMIL NADU        6519182.30
Name: Amount, dtype: float64

Bottom 5 States by Sales:
ship-state
TRIPURA            92548.40
DADRA AND NAGAR    42138.92
MIZORAM            41948.71
LADAKH             38388.43
LAKSHADWEEP         3175.29
Name: Amount, dtype: float64

Top 5 Cities by Sales:
ship-city
BENGALURU    7255419.46
HYDERABAD    5603306.78
MUMBAI       4292620.40
NEW DELHI    3951657.20
CHENNAI      3613369.94
Name: Amount, dtype: float64

Bottom 5 Cities by Sales:
ship-city
ANDUL HOWRAH               259.00
BYATRYANPURA               259.00
NADUVANNUR                 248.00
KILAPAVOOR                 241.00
ITAGI                      236.19
CALICUT MEDICAL COLLEGE      0.00
BALAPUR MIDC                 0.00
HARINGHATA                   0.00
AGRA-282001                  0.00
MATHABHANGA                  0.00
Name: Amount, dtype: float64

### Business Insights and Recommendations

In [9]:
if total_sales > 100000:
    recommendation = "Consider expanding product line in high-demand categories."
else:
    recommendation = "Focus on improving fulfillment efficiency to reduce costs."

print("Recommendation:")
print(recommendation)

Recommendation:
Consider expanding product line in high-demand categories.